.faRecycle{
    transition: all 300ms ease-out;
}

.faRecycle:hover{
    color: green;
}

.anchors a:active, .anchors a:hover{
    text-decoration: none;
}

@media(prefers-reduced-motion: no-preference){
    .faRecycle{
        animation: fa-recycle-spin infinite 12s linear;
    }
}

@keyframes fa-recycle-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}