.contentContainer {
    background-color: #C7F9CC;
}

.homeOverlay {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3));
}

.buttonTrigger {
    background-color: #38A3A5;
}

.slideOverlay {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.links {
    color: white;
}

.altLinks {
    color: black;
}

.links:hover, .altLinks:hover {
    text-decoration: none;
    color: #57CC99;
}